body {
  background: #151414;
}
.ani-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
p {
    border: 4px double rgba(255, 255, 255, 0.25);
    border-width: 4px 0;
    padding: 25px 0px 25px 0px ;
}
p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url(animated_text_fill.png) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slide 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
@-webkit-keyframes slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
